 
	
		body	{
			text-align: center;
			  font-family: narly-outline, sans-serif;
		  

font-weight: 400;

		   		    height: 200px;
 width: 400px;
			
			
			
		}
		
	

	    .heading {

		    font-family: narly-outline, sans-serif;
		  

font-weight: 400;

		   		    height: 200px;
 width: 300px;


    font-size: 40px;
			
   margin-top:30px;
     
   
		   
}
	    


	    
	    a {
    color: 	#000000;
    text-decoration: none;
}

a:hover 
{
     color:#00A0C6; 
     text-decoration:none; 
     cursor:pointer;  
	    }
	    
	
	    
	    .sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 200;
  left: 0;
  overflow-x: hidden;
  padding-top: 200px;'
		     font-family: narly-outline, sans-serif;
		  

font-weight: 400;

		   		    height: 200px;
 width: 400px;
 font-size:40;
		    
		    
}
	    .main{
		  
		     margin-left: 600px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 0px
	  padding-left:60px;
		    padding-bottom:50px;

}
	    img{
		    position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 400px;
}

.rect{
	fill:rgb(255,255,255);
	stroke-width:3;
	stroke:rgb(255,255,255);
	left:200px;
}
	
